
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.tweets{
    max-height: 200px;
    overflow-x:hidden;
    overflow-y: auto;
}

.leaflet-div-icon {
    border: none;
    background: #900000;
    border-radius: 100px;
}















